$font-size: 16px;

@function toRem($px) {
  @return $px / $font-size * 1rem;
}

@function toRemF($px) {
  @return (-($px / $font-size * 1rem));
}

$desktopslarge: toRem(1200px);
$desktops: toRem(992px);
$tablets: toRem(768px);
$phones: toRem(576px);

:root {
  --base: rgb(255, 42, 81);
  --basergb: 255, 41, 80;
  --white: rgb(255, 255, 255);
  --whitergb: 255, 255, 255;
  --black: rgb(27, 27, 27);
  --blackrgb: 27, 27, 27;
  --gray: rgb(49, 49, 49);
  --grayrgb: 49, 49, 49;

  --desktopslarge: $desktopslarge;
  --desktops: $desktops;
  --tablets: $tablets;
  --phones: $phones;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: $font-size;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-size: 1rem;
  color: var(--gray);
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  line-height: 1.75;
  letter-spacing: toRem(1px);
}

img {
  height: auto;
  image-rendering: -moz-crisp-edges; // Firefox
  image-rendering: -o-crisp-edges; // Opera
  image-rendering: -webkit-optimize-contrast; // Webkit (non-standard naming)
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; // IE (non-standard property)
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
}

video {
  min-height: toRem(512px);
}

input,
textarea,
button,
select {
  margin: toRem(2px);
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.35;
  color: var(--black);
}

h3 {
  font-size: 1.25em;
}

h5 {
  font-size: .875em;
}

a {
  color: var(--base);
  transition: .3s ease-in-out;
}

code {
  display: block;
  max-height: toRem(512px);
  overflow: auto;
  padding: toRem(16px);
  color: var(--white);
  background: var(--black);
  border-radius: toRem(16px);
  white-space: pre-wrap;

  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track {
    background: RGBA(var(--grayrgb), .4) !important;
  }

  &::-webkit-scrollbar-thumb {
    background: RGBA(var(--whitergb), .2) !important;
    background-image: none;
  }
}

/*==================================== 默认滚动条 ====================================*/
::-webkit-scrollbar {
  width: toRem(8px);
  height: toRem(8px);
  background: transparent;

}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: RGBA(var(--grayrgb), .2);
  border-radius: toRem(100px);
}

::-webkit-scrollbar-thumb {
  background: var(--base);
  background-image: -webkit-linear-gradient(45deg, RGBA(var(--whitergb), .2) 25%, transparent 25%, transparent 50%, RGBA(var(--whitergb), .2) 50%, RGBA(var(--whitergb), .2) 75%, transparent 75%, transparent);
  border-radius: toRem(100px);
}